BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignOperands: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AlignTrailingComments: true
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: false
    AfterFunction: true
    AfterNamespace: false
    AfterObjCDeclaration: false
    AfterStruct: false
    AfterUnion: false
    BeforeCatch: true
    BeforeElse: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
ColumnLimit: 80
Cpp11BracedListStyle: false
IndentCaseLabels: true
IndentWidth: 4
PointerAlignment: Left
ReflowComments: true
SortIncludes: false
UseTab: Never
