*~
.*~
.*.un~
.*.swp
*.tmp
*.log
.DS_Store
*.o
*.obj
*.out
*.a
*.i
*.ilk
*.lib
*.pdb
*.s
*.dll
*.pyc
*.exe
*.bin
*.jar
*.war
*.mp3
*.mp4
/*.dir
target/
*build*/
.build/
bin/
doc*/
.env/
.vs/
.vscode/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
