/* SPDX-FileCopyrightText: Public Domain */
/* SPDX-License-Identifier: CC0-1.0 */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Nunito-Regular.eot');
  src: url('/fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/Nunito-Regular.woff2') format('woff2'), url('/fonts/Nunito-Regular.woff') format('woff'), url('/fonts/Nunito-Regular.ttf') format('truetype'), url('/fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/SourceCodePro-Regular.eot');
  src: url('/fonts/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/SourceCodePro-Regular.woff2') format('woff2'), url('/fonts/SourceCodePro-Regular.woff') format('woff'), url('/fonts/SourceCodePro-Regular.ttf') format('truetype'), url('/fonts/SourceCodePro-Regular.svg#SourceCodePro-Regular') format('svg');
}

body, table, div, p, dl {
  font-size: 0.85rem;
  line-height: 1.25rem;
}

body, table, table.directory, div, p, dl, div.contents,
#main-nav ul li a, #nav-tree .label, #MSearchField {
  font-family: Nunito, sans-serif;
}

h1, h2, h3, h4, h5, h6, #projectname, #projectbrief, #projectnumber, .title {
  font-family: Raleway, Verdana, sans-serif;
}

blockquote {
  padding: 4px 12px;
}

code {
  background-color: rgba(127,127,127,0.15);
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 0 0.5em;
}

div.fragment {
  padding: 1.25em;
}

pre.fragment {
  background-color: inherit;
  border: 0;
  font-size: 95%;
}

div.fragment, div.line {
  font-family: 'Source Code Pro', 'Roboto mono', monospace;
}

table.params td.paramname {
  min-width: 100px;
}

table.doxtable code {
  background-color: inherit;
  font-size: inherit;
}

.icon {
  height: 16px;
  width: 16px;
}

.sm-dox a span.sub-arrow {
  background: rgba(128,128,128,0.25);
}

.sm-dox a span.sub-arrow:before {
  display: block;
  content: '+';
}

#projectname {
  font-size: 200%;
  margin: 0px;
  padding: 2px 8px;
}

#projectbrief {
  font-size: 90%;
  padding: 0 0 0 8px;
}

#nav-tree .item {
  padding: 0px 20px;
}

#nav-tree-contents > ul > li > div.item:not(.selected) {
  padding-bottom: 8px;
}

#nav-sync img {
  padding-top: 4px;
}
