name: MinGW
on: [push, pull_request]
env:
  CONFIG: '-DCMAKE_BUILD_TYPE=Debug'
  GENERATOR: '-G"MinGW Makefiles"'
  TOOLCHAIN: '-DCMAKE_TOOLCHAIN_FILE=${{github.workspace}}\.github\workflows\mingw-win-host.cmake'
jobs:
  build:
    strategy:
      matrix:
        bits: [32, 64]
    runs-on: windows-latest
    env:
      mingw: mingw${{matrix.bits}}
    defaults:
      run:
        shell: cmd
    steps:
    - uses: actions/checkout@v2
    - name: Set up MinGW toolchain
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{env.mingw}}
        release: false
    - name: Set up CMake
      uses: jwlawson/actions-setup-cmake@v1
      with:
        cmake-version: '3.1.x'
    - name: Build and Test (${{env.mingw}})
      run: |
        set "PATH=C:\msys64\%mingw%\bin;%PATH%"
        mkdir _build && cd _build
        cmake .. ${{env.CONFIG}} ${{env.GENERATOR}} ${{env.TOOLCHAIN}}
        mingw32-make
